@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

html {
  box-sizing: border-box;
  background: #0E0613;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  /* pointer-events: none; */
}

img {
  max-width: 100%;
}

body {
  max-width: 1770px;
  font-family: sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 32px
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1294px;
  padding: 0;
  margin: 0 auto;
}

/* header */
.header {
  margin-bottom: 65px;
}

.header-container {
  background-color: #871522;
  background-image: linear-gradient(to right, #540C14, #540C14, #871522, #871522, #871522, #871522);
}

.header-list {
  justify-content: space-between;
  align-items: center;
}

.header-nav-right {
  gap: 31px;
  justify-content: space-between;
  align-items: center;
}

.block {
  position: relative;
}

.block1 {
  position: absolute;
  width: 285px;
  height: 95px;
  background: #540C14;
  z-index: 3;
  border: 1px solid #540C14;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.block2 {
  position: absolute;
  width: 285px;
  height: 95px;
  background: #62111A;
  margin: 0px 99px;
  z-index: 2;
  border: 1px solid #62111A;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.block3 {
  position: absolute;
  width: 285px;
  height: 95px;
  background: #771924;
  margin: 0px 198px;
  z-index: 1;
  border: 1px solid #771924;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.header-list-item {
  position: relative;
  z-index: 4;
}

.header-form {
  display: flex;
  justify-content: space-between;
  width: 306px;
  height: 55px;
  padding: 11px 20px;
  border-radius: 30px;
  background-color: #68151F;
}

.header-form-input {
  background-color: #68151F;
  border: #68151F;
}

.header-form-btn {
  background: #68151F;
  border: #68151F;
  background-image: url('../img/research.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 34px;
  cursor: pointer;
}

.header-form-input:focus {
  outline: none;
}

/* recomendation */
.section-card {
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 105px;
}

.section-card-item {
  align-items: center;
  padding: 0 39px;
  max-width: 410px;
  height: 250px;
  background: #540C14;
  border-radius: 25px;
}

.section-card-item-img {
  background-color: gray;
  min-width: 150px;
  height: 150px;
}

.section-card-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  color: #fff;
}

.section-card-item-btn {
  width: 157px;
  height: 40px;
  background-color: #771924;
  color: #fff;
  border: #771924;
  border-radius: 33px;
}

.section-card-item-btn:hover {  
  background: #67141e;
  border: 1px solid #67141e;
}

/* Genre */
/* .genre-top {
  justify-content: space-between;
  align-items: center;
}

.genre-title {
  color: #fff;
  font-size: 50px;
}

.genre-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.genre-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 20px;
  width: 100%;
  height: 55px;
  font-size: 24px;
  border-radius: 30px;
  border: #722020;
  background-color: #722020;
  color: #fff;
}

.genre-section-card {
  margin-bottom: 146px;
} */

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  background-color: rgb(98, 17, 26, 0.28);
  border-radius: 30px;
  color: #fff;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer h3 {
  font-size: 22px;
}

.footer p {
  font-size: 20px;
  margin-bottom: 10px;
}
